.shop-cart {
    display: grid;
    grid-template-rows: [tog-s] 40px [tog-e con-s] 1fr [con-e];
    grid-template-columns: [s] 1fr [e];
    grid-row-gap: 15px;

    &__toggle {
        display: grid;
        grid-row: tog-s/tog-e;
        grid-column: s/e;
        justify-self: end;
        justify-items: center;
        align-items: center;
    }

    &__content {
        grid-row: con-s/con-e;
        grid-column: s/e;
        height: 615px; // TODO RESIZE CART previous size 675px
        width: 500px; // previous size 520px
        background-color: #333333;
        box-shadow: -3px 20px 20px 0 rgba(0,0,0,0.2);
    }
}

.cart-button {
    color: white;
    background-color: #333333;
    font-size: 28px;
    border-radius: 25px 0 0 25px;
    height: 40px;
    width: 76px;
}

.cart-content {
    display: grid;
    grid-template-rows: 25px [title-s] 60px [title-e products-s] 1fr [products-e footer-s] 100px [footer-e]; // resized first row from 80px, last row from 133px
    grid-template-columns: [footer-s] 30px [s] 1fr [e] 30px [footer-e];

    &__title {
        grid-row: title-s/title-e;
        grid-column: s/e;
        font-weight: 600;
        font-size: 30px;
        font-family: 'Titillium Web';
        color: #e6e6e6;
    }

    &__products {
        // can add padding-top here of 10px
        grid-row: products-s/products-e;
        grid-column: s/e;
        display: grid;
        overflow-y: scroll;
    }

    &__footer {
        grid-row: footer-s/footer-e;
        grid-column: footer-s/footer-e;
        display: grid;
    }
}

.cart-footer {
    display: grid;
    grid-template-rows: [s] 1fr [e];
    grid-template-columns: 50px [checkout-s] 1fr [checkout-e sub-s] 1fr [sub-e] 27px [price-s] 46px [price-e] 31px;
    align-items: center;
    height: 100px; // resized from 113px
    background-color: #1a1a1a;

    & > * {
        grid-row: s/e;
    }

    &__checkout {
        display: grid;
        grid-column: checkout-s/checkout-e;
        justify-items: center;
        align-items: center;
        height: 38px;
        width: 183px;
        border-radius: 20px;
        background-color: #00cb79;
        color: white;
        font-size: 1.6rem;
        font-weight: 600;
        transition: all .3s ease;

        &:hover {
            transform: scale(0.97);
        }

        &:active {
            transform: scale(0.95);
        }

        &:focus {
            outline: none;
        }
    }

    &__subtotal {
        grid-column: sub-s/sub-e;
        justify-self: end;
        font-size: 18px;
    }

    &__price {
        grid-column: price-s/price-e;
        justify-self: start;
        font-size: 18px;
        font-weight: 600;
        color: white;
    }
}